{
	"extends": "airbnb",
	"plugins": ["jest"],
	"env": {
		"jest/globals": true,
		"browser": true
	},
	"rules": {
		"arrow-parens": ["error", "as-needed"],
		"comma-dangle": ["error", "never"],
		"import/no-extraneous-dependencies": [
			"error",
			{
				"devDependencies": true
			}
		],
		"indent": ["off", "tab"],
		"jest/no-disabled-tests": "warn",
		"jest/no-focused-tests": "error",
		"jest/no-identical-title": "error",
		"jest/valid-expect": "error",
		"no-tabs": "off",
		"react/jsx-filename-extension": "off",
		"react/jsx-indent-props": ["error", "tab"],
		"react/jsx-indent": ["error", "tab"],
		"react/destructuring-assignment":"off",
		"no-param-reassign": "off",
		"react/forbid-prop-types": ["error", {"forbid": ["any"]}],
		"object-curly-newline":"off",
		"operator-linebreak":"off"
	},
	"settings": {
		"import/core-modules": [
			"@storybook/addon-info",
			"@storybook/addon-knobs",
			"@storybook/addon-options",
			"@storybook/react"
		]
	}
}
